/* pro vyvoj */
body {
    /*max-width: 360px; /* docasne simuluje mobil */
    /* background-image: url(pic1.png); 
    background-repeat: no-repeat;
    background-position: 400px 0px; */
}
.container {
    mix-blend-mode: exclusion;
}
/* /pro vyvoj */

* {
    box-sizing: border-box;
}

html {
    font-family: "Corbel", sans-serif;
    font-weight: bold;
}

body {
    color: white;
    background-color: #0b1d26;
    margin: 0;
    background-image: linear-gradient(0, #364a4f 0, rgba(54, 74, 79, 0) 200px);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: "Constantia", serif;
    line-height: 1.2;
    font-weight: normal;
}

h1 {
    font-size: 4rem;
    line-height: 1.125;
    margin-top: 1.125rem;
    margin-bottom: 1.75rem;
}

h2 {
    font-size: 3rem;
    margin-top: 1.375rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p,
li {
    font-size: 1.375rem;
    line-height: 1.45;
}

li::marker {
    content: "— ";
}

a {
    color: #fbd784;
}

.container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(image-main.png);
    background-position: 61% 42.5%;
    background-size: 378%;
    background-color: white;
    background-repeat: no-repeat;
    color: #0b1d26;
    min-height: 44rem;
    padding: 1.25rem;
}

.navigation {
    padding: 0;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.navigation-item {
    font-size: 0.875rem;
    line-height: 1.2143;
    display: inline-block;
}

.header a {
    color: inherit;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0.5rem;
    display: inline-block;
}

.header p {
    font-size: 1.375rem;
    max-width: 33rem;
}

.intro {
    max-width: 69.5rem;
    margin-left: auto;
    margin-right: auto;
}

.main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 69.5rem;
    margin-left: auto;
    margin-right: auto;
}

p.overheading {
    color: #fbd784;
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.375em;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 1rem;
    border-left: 2px solid #fbd784;
    margin-top: 4.125rem;
}

p.overheading-header {
    color: #0b1d26;
    border-left-color: #0b1d26;
    margin-top: 2.25rem;
}

ul {
    padding-left: 1.375rem;
}

.project-link {
    margin-top: 2rem;
    margin-bottom: 0;
}

.project {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2.6rem;
}

.project-switch {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.text-project {
    max-width: 26rem;
}

P {
    margin-top: 0;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 18rem;
}

@media only screen and (min-width: 470px) {
    .navigation {
        max-width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }
}
